.trendgrid {
  margin-top: 4rem;
  width: 1040px;
  position: relative;
  -ms-overflow-style: none;
  scrollbar-width: none;
  &::-webkit-scrollbar {
    display: none;
  }
  @media (max-width: 1040px) {
    width: 100%;
  }
}
