.gloader {
  height: 10rem;
  width: 1040px;
  color: white;
  display: flex;
  flex-direction: row;
  gap: 1rem;
  margin-top: 2rem;
  // top: 0;
  left: 50%;
  transform: translateX(-5%);
  position: absolute;

  &__itm {
    width: 10px;
    height: 10px;
  }
  &__1 {
    background-color: $col-1;
    animation: motion-1 1500ms ease-in infinite;
  }
  &__2 {
    background-color: $col-2;
    animation: motion-1 1500ms ease-in 200ms infinite;
  }
  &__3 {
    background-color: $col-3;
    animation: motion-1 1500ms ease-in 400ms infinite;
  }
  &__4 {
    background-color: $col-4;
    animation: motion-1 1500ms ease-in 600ms infinite;
  }
  &__5 {
    background-color: $col-5;
    animation: motion-1 1500ms ease-in 800ms infinite;
  }
}

@keyframes motion-1 {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0px);
  }
}
